body{
    font-family:pix;
    text-align: center;
    direction: ltr;
    background-image: url("backgroundimage.jpg");
    background-size:cover;   
    background-position:center;
    background-attachment:fixed;
    color:white;
}

#login-page {
    background-image: url("login.jpg"); 
    background-size: cover;
    background-position:center;
    background-attachment:fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#login-form {
    background-color: goldenrod;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#main-page {
    background-image: url("backgroundimage.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
}

#countdown-cube {
    width: 200px;
    height: 115px;
    background:rgba(128, 128, 128, 0.467);
    border: 2px solid #bbb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-family: Arial,sans-serif;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

#countdown-cube:hover {
    transform: scale(1.05); 
}

#countdown-text {
    margin-bottom: 10px;
}
#countdown-cube::before {
    width: 200px;
    height: 115px;
    background: linear-gradient(135deg, #333, #555); 
    border: 1px solid #555; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}


table{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
    margin-top:20px;
    background-color:#222;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius:10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #555;
    padding: 12px;
    text-align: center;
}

th {
    background-color: #00008b; 
    color: white;
}

tr:nth-child(even) {
    background-color:#333;
}

tr:nth-child(odd) {
    background-color: #444;
}

button{
    border: 1px solid #00008b;
    margin: 10px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    /* border: none; */
    border-radius: 5px;
    background-color: #00008b;
    color: white;
    transition: background-color 0.3s;
}

button:hover{
    background-color: #000066;
}

input {
    padding: 10px;
    font-size: 20px;
    margin: 10px;
    border: 1px solid #00ffff;
    border-radius:5px; 
    max-width:100%;
    box-sizing: border-box;
    background-color:#333;
    color: white;
    
}

.highlight {
    background-color:#ffeb3b;
    font-weight: bold;
}

#status {
    margin-top: 20px;
    font-weight: bold;
}


